@charset "utf-8";
/* CSS Document */
.header{width:1300px;
height:200px;
margin:20px auto;
}
.icon{width:200px;
height:200px;
border-radius:100%;
background: rgb(255,255,255);
cursor: pointer;
overflow: hidden;
position: relative;

/*text-align:center;
line-height:160px;
font-family: "微软雅黑";
color:#666;
font-size:35px;
text-shadow:4px 4px 1px #999;*/
float:left;
margin-left:45px;
}
.icon:before,
.icon:after{
	border-radius: 100%;
	content:"";
	position: absolute;
	top: 0; left: 0;
	width: inherit; height: inherit;
	box-shadow: inset 0 130px 0 rgba(30, 140, 209,0.2),
				inset 130px 0 0 rgba(30, 140, 209,0.2),
				inset  0 -130px 0 rgba(30, 140, 209,0.2),
				inset  -130px 0 0 rgba(30, 140, 209,0.2);
	-webkit-transition: box-shadow 1s ;
	   -moz-transition: box-shadow 1s;
		-ms-transition: box-shadow 1s ;
			transition: box-shadow 1s; 
}
.icon:after{
	transform: rotate(45deg);
}
.icon:hover:before,.icon:hover:after{
	box-shadow: inset 0 10px 0 rgba(255, 0, 0, 0.5),
				inset 10px 0 0 rgba(252, 150, 0, 0.5),
				inset  0 -10px 0 rgba(0, 255, 0, 0.5),
				inset  -10px 0 0 rgba(0, 150, 255, 0.5);
}
.icon:hover img{
	opacity: 1;
}
.icon img{
	transition:all 2s;
	opacity:1;
}
.icon p{
	opacity: 0;
	transition: all 1s;
	position:absolute;
	top:85px;
	left:63px;
	font-size:25px;
	color:#fff;
	font-weight:bold;
	
}
.icon:hover p{
	top:150px;
	opacity:1;
}
.nav{height:160px;width:1140px;}
.nav ul li a div{height:100px;width:100px;border-radius:50%;/*border:4px solid #FFF;*/box-sizing:border-box; text-align:center;line-height:100px;}
.nav li{display:inline-block;height:120px;width:120px;border-radius:50%;float:left;margin-top:20px;margin-left:25px;position:relative;line-height:120px;transform:rotate(45deg); opacity:1;}
.nav ul li a{display:block;width:120px;height:120px; padding-top:10px; padding-left:10px; text-decoration:none;
font-size:24px; font-weight:bold;color:#fff;}
.nav li:nth-child(1){background-color:#F30;}
.nav li:nth-child(2){background-color:#f39c12;}
.nav li:nth-child(3){background-color:#1abc9c;}
.nav li:nth-child(4){background-color:#3498db;}
.nav li:nth-child(5){background-color:#8e44ad;}
.nav li:nth-child(6){background-color:#2c3e50;}
.nav_list1{ background-color:#F30;border:4px solid #FFF;border-right-color:#F30; border-top-color:#F30;border-bottom-color:#F30;transition:all 0.5s ease-in;}
.nav_list2{ background-color:#f39c12;border:4px solid #FFF;border-right-color:#f39c12; border-top-color:#f39c12;border-bottom-color:#f39c12;transition:all 0.5s ease-in; opacity:1}
.nav_list3{ background-color:#1abc9c;border:4px solid #FFF;border-right-color:#1abc9c; border-top-color:#1abc9c;border-bottom-color:#1abc9c;transition:all 0.5s ease-in;}
.nav_list4{ background-color:#3498db;border:4px solid #FFF;border-right-color:#3498db; border-top-color:#3498db;border-bottom-color:#3498db;transition:all 0.5s ease-in;}
.nav_list5{ background-color:#8e44ad;border:4px solid #FFF;border-right-color:#8e44ad; border-top-color:#8e44ad;border-bottom-color:#8e44ad;transition:all 0.5s ease-in;}
.nav_list6{ background-color:#2c3e50;border:4px solid #FFF;border-right-color:#2c3e50; border-top-color:#2c3e50;border-bottom-color:#2c3e50;transition:all 0.5s ease-in;}
.list:hover .nav_list1{ transform:rotate(135deg);transition:all 0.5s linear;}
.list:hover .nav_list2{ transform:rotate(135deg);transition:all 0.5s linear;}
.list:hover .nav_list3{ transform:rotate(135deg);transition:all 0.5s linear;}
.list:hover .nav_list4{ transform:rotate(135deg);transition:all 0.5s linear;}
.list:hover .nav_list5{ transform:rotate(135deg);transition:all 0.5s linear;}
.list:hover .nav_list6{ transform:rotate(135deg);transition:all 0.5s linear;}
a{ text-decoration:none;}
.infor{transform:translateY(-100px);}
.content{width:1020px;height:510px; margin:-20px auto; }
.content_first{width:1020px;height:170px; margin:0 auto;}
.content_first_title{width:580px;height:140px; text-align:right; padding-right:40px; line-height:1.7; margin-left:50px; float:left; padding-top:30px;}
.content_first_title p{ font-size:16px; font-family:"微软雅黑"; color:#666;}
.content_first_title h2{ font-size:28px; font-weight:bolder; color:#666;}
.content_first_title_box1{ width:170px; height:170px; float:right;}
.content_first_title_box2{ width:170px; height:170px; float:right;}
.content_first_title_box2 img{ width:170px; height:170px;}
.mask h2{ font-size:40px; font-weight:bolder;}
.mask p{ font-size:24px; font-weight:bold;}
.content_first_title_box1_img{ background-repeat:no-repeat; background-size:cover;
background-position: center center; width:170px;height:170px;}
.content_first_title_box1_title{ width:170px; height:170px;transition:all 1s linear;}
.mask{ width:170px; height:170px; line-height:50px; text-align:center; padding-top:20px; color:rgba(255,255,255,0);transition:all 1s linear; }
.content_first_title_box1:hover .mask{color:rgba(255,255,255,1);}
.content_first_title_box1:hover .content_first_title_box1_title{ background-color:rgba(0,0,0,0.7);}
/*第二部分*/
.content_second ul li{ width:170px;height:170px; float:right; }
.content_second ul li a{ display:block; width:170px; height:170px;}
.content_second ul{ width:1020px; height:170px;}

.content_second_img1 { background-position:50%,50%; width:170px; height:170px; background-repeat:no-repeat; transform:scale(0);opacity:0; transition: all 0.3s linear; }
.content_second_text1{ transform:scale(1);opacity:1;transition: all 0.3s linear;width:140px;height:140px; text-align: center; line-height:50px; transform:translateY(-170px); padding-top:30px; padding-left:10px;color:#FFF; font-weight:bolder; font-size:23px;}
.content_second ul li:hover .content_second_img1{transform:scale(1);opacity:1;transition:all 0.3s linear; background-color:#0C9;}
.content_second ul li:hover .content_second_text1{transform:scale(0);opacity:0; transition: all 0.3s linear; transform:translateY(-170px); }
.content_second ul li:nth-child(2){background-color: #39F;}

.content_second_img2 { background-position:50%,50%; width:170px; height:170px; background-repeat:no-repeat; transform: rotate(360deg);opacity:0; transition:all 0.3s linear; }
.content_second_text2{ transform:rotate(0);opacity:1;transition:all 0.3s linear;width:140px;height:140px; text-align: center; line-height:50px;padding-top:30px; padding-left:10px;color: #FFF; font-weight:bolder; font-size:23px;}
.content_second_text2{transform:translateY(-170px);}
.content_second ul li:hover .content_second_img2{transform:rotate(-360deg);opacity:1;transition:all 0.3s linear; background-color: #FF0}
.content_second ul li:hover .content_second_text2{transform:rotate(360deg);opacity:0; transition:all 0.3s linear; transform:translateY(-170px); }
.content_second ul li:nth-child(3){background-color: #F36;}

.content_second_img3 {background-color: #66F; background-position:50%,50%; width:170px; height:170px; background-repeat:no-repeat; transform:scale(1);opacity:1; transition: all 0.3s linear; }
.content_second_text3{ transform:scale(0);opacity:0;transition: all 0.3s linear;width:140px;height:140px; text-align: center; line-height:50px; transform:translateY(-170px); padding-top:30px; padding-left:10px;color: #fff; font-weight:bolder; font-size:23px;}
.content_second ul li:hover .content_second_img3{transform:scale(0);opacity:0;transition:all 0.3s linear;  }
.content_second ul li:hover .content_second_text3{transform:scale(1);opacity:1; transition: all 0.3s linear; transform:translateY(-170px); }
.content_second ul li:nth-child(6){background-color: #09F;}

.content_third{ width:600px; height:170px; margin:0 auto;}
.content_third li{ width:170px; height:170px; float:right; background-color:#666;}



.content_third_img4 { background-position:50%,50%; width:170px; height:170px; background-repeat:no-repeat; transform:translateY(-90deg);opacity:0; transition: all 0.5s linear; }
.content_third_text4{ transform:scale(0);opacity:1;transition: all 0.3s linear;width:140px;height:140px; text-align: center; line-height:50px; transform:translateY(-170px); padding-top:30px; padding-left:10px;color: #fff; font-weight:bolder; font-size:23px;}
.content_third ul li:hover .content_third_img4{transform:translateY(90deg);opacity:1;transition:all 0.6s linear; background-color: #F6C;}
.content_third ul li:hover .content_third_text4{transform:scale(0);opacity:0; transition: all 0.5s linear; transform:translateY(-170px);}
.content_third ul li:nth-child(1){background-color: #33C;}




